body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.counter {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
footer {
    position: fixed; /* Sticks the footer to the bottom of the page */
    bottom: 0;
    width: 100%;
    background-color: #1b1b1b; /* Dark background */
    color: #fff; /* White text */
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    color: #333; 
    margin-bottom: 15px;
}

#timeCounter {
    font-size: 1.5em;
    color: #555; 
    font-weight: 300; 
}
